body {
  font-family: sans-serif;
}

nav {
  padding: 1rem;
}

main {
  padding: 1rem;
}

.tab-btn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity;
  transition-duration: 0.25s;
}

.tab-btn.selected {
  opacity: 1;
}

.tab-btn:hover {
  opacity: 1;
}

.tab-content {
  display: block;
}

.tab-content.hidden {
  display: none;
}
